@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", "sans-serif";
}	
body, div
{
	background-color: rgb(30,30,30);
}
a
{
	color: rgb(225,225,225);
}
div
{
	padding: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}
h1
{
	padding-top: 5%;
	text-align: center;
	color: rgb(200,200,200);
}
li, p
{
	color: rgb(210,210,210);
}
.page
{
	width: 70%;
	margin: 0 auto;
}
.contact
{
    text-align: center;
}
.tagline
{
    text-align: center;
    color: rgb(200,200,200);
}
