html
{
	font-family: "Helvetica", "Arial", sans-serif;
}
body
{
	background-color: rgb(30,30,30);
}
a
{
	color: rgb(225,225,225);
}
div
{
	background-color: rgb(30,30,30);
	padding: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}
h1
{
	text-align: center;
	color: rgb(200,200,200);
}
h3
{
	color: rgb(200,200,200);
	padding-left: 30px;
}
li
{
	color: rgb(210,210,210);
}
p
{
	color: rgb(210,210,210);
}
ul
{
	list-style-type: none;
}
.homeLink
{
	text-decoration: none;
}
.blogLink
{
	color: rgb(225,225,225);
	text-decoration: none;
}
.greeting
{
	text-align: center;
	color: gray;
	font-size: 16px;
}
.aboutMe
{
	padding-top: 10px;
}
.contactMe
{
	text-align: center;
	color: gray;
	font-size: 14px;
}
.albumArt
{
	padding: 20px;
	width: 150px;
	height: auto;
}
.videoGame
{
	padding: 20px;
	height: 150px;
	width: auto;
}
.finePrint
{
	font-size: 16px;
	color: gray;
	text-align: center;
}
