@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", "sans-serif";
}	
body, div
{
	background-color: rgb(30,30,30);
}
a
{
	color: rgb(225,225,225);
}
hr
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
div
{
	padding: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}
h1
{
	padding-top: 5%;
	text-align: center;
	color: rgb(200,200,200);
}
h3
{
	color: rgb(200,200,200);
	padding-left: 30px;
	padding-top: 2%;
}
li, p
{
	color: rgb(210,210,210);
	padding: 20%;
	text-align: left;
}
li
{
	padding: 1%;
}
ul
{
	list-style-type: none;
}
.page
{
	width: 70%;
	margin: 0 auto;
}
.homeLink, .blogLink
{
	text-decoration: none;
}
.blogLink
{
	color: rgb(225,225,225);
}
.greeting
{
	padding: 1%;
	text-align: center;
	color: gray;
	font-size: 16px;
}
.aboutMe
{
	padding-top: 10px;
}
{
	padding-left: 11%;
	text-align: left;
	color: gray;
	font-size: 14px;
}
.albumArt, .videoGame
{
	padding: 20px;
	width: 150px;
	height: auto;
}
