@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body
{
	background-color: black;
	color: #66ff66;
	text-align: center;
	font-family: "Roboto Mono";
}
.missionTitle
{
	padding-top: 10%;
}
.missionText
{
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
}
hr
{
	visibility: hidden;
}
